@charset "utf-8";
 @font-face { font-family: Raleway-Black; src: url('../fonts/Raleway-Black.ttf'); } 
@font-face { font-family: Raleway-Bold; src: url('../fonts/Raleway-Bold.ttf'); } 
@font-face { font-family: Raleway-Medium; src: url('../fonts/Raleway-Medium.ttf'); }
@font-face { font-family: Raleway-Regular; src: url('../fonts/Raleway-Regular.ttf'); }
@font-face { font-family: Raleway-SemiBold; src: url('../fonts/Raleway-SemiBold.ttf'); }
html,body {
    margin:0;
    padding:0;
}

.header{
    background: url('../img - header.png') no-repeat center;
    background-size: cover;
	margin:0;
	padding: 0;
	height:470px;
	position: relative;	

		
}

.header.what-we-do{
    background: url('../img/what-we-do.jpg') no-repeat center;
}

.header.contact{
    background: url('../img/contact.jpg') no-repeat center;
}


.header.our-team{
    background: url('../img/our-team.jpg') no-repeat center;
}
    .header.funded{
    background: url('../img/grant.jpg') no-repeat center;		
}
.level-item.has-text-centered{
	position: relative	;
    left: 0;
    right: 0;
    margin: 	auto;
    top: 30%;
    width: 85%;
}
.header-text{
	font-family: Raleway-Medium;
	font-size: 40px;	
	color: #FFFFFF;
	
}

.header-button-container{
    position: relative	;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}
.header-button{
	background-color: #ee1a21;
	font-size:30px;
	color: #FFFFFF;
	width: 350px;
	height: 65px;
	font-family: Raleway-Bold;
	border: none;
	
		
}


a.navbar-item{
	font-family: Raleway-Medium;
	color: #004E97;
	font-size: 	x-large;	
}

a.navbar-item.is-active, a.navbar-burger.is-active, div.navbar-menu{
	color: #EE1C24;
}

p.caption {
	padding-top: 15px;
	font-family: Raleway-Bold;
	text-align: 	center;	
	font-size: 	35px;
	color: #244674;
}

div.card.tile {
	background-color: #244674;

}
.inner-card{
		color: #ffffff;
		font-size: 	2.5vw;
		position: 	absolute;
		left: 	0;
		right: 0;
		top:20%;
		border-bottom: 0; 	
		margin: auto;
		width: 65%;	
		 	
		font-family: Raleway-Regular;


					
}
section.content {
	padding-top: 	75px;
}

h1.title{
	font-family: Raleway-Bold;
	color: #244674;	
}
h2.title{
	font-family: Raleway-Bold;
	color: #244674;	
}

.homepage-content, li{
	font-family: Raleway-Regular;
	color: #244674;	
	font-size: 	20px;
}

.bottom {
	background-color: #244674;	
	height: 	35px;
}

.bottom-nav-text{
	font-family: Raleway-SemiBold;
	color: #ffffff;
}
td.thead {
	font-family: Raleway-Bold;
	color: #244674;
	font-size: 	35px;
}
table, tbody, tr, thead, td{
	color: #244674;
	font-size: 	25px;
	font-family: Raleway-Regular;

}
strong {
	font-family: Raleway-Bold;
	color: #244674;
	font-size: 	30px;
}

p {
	font-family: Raleway-Regular;
	color: #244674;
	font-size: 	25px;
}

p.card-text {
	font-family: Raleway-Regular;
	color: #244674;
	font-size: medium;
	}

/* CSS Document */

